<!-- TODO: Add HTML frontend-->
<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>ASL_CNN WebUI</title>
    </head>
    <body>
        <h1>Upload image</h1>

        <form method="post" action="/prediction" enctype="multipart/form-data">
            <input type="file" name="image" accept="image/*" required>
            <button type="submit">Upload</button>
        </form>

        {% if result %}
            <h2>Processing...</h2>\
            <p>{{ result }}</p>
        {% endif %}
    </body>
</html>